body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Noto Serif SC", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
    font-size: 100%;
    word-break: break-all;
    color: #24292D;
}

a {
    color: #f47645;
}

a:hover {
    color: #f84c11;
}

h1 {
    line-height: 2em;

    a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.row {
    margin: 0;
}

@media(max-width: 767.98px) {

    #baseof-wrapper {
        margin: 0;
        padding: 0;
        height: 100vh;

        #main-wrapper {

            #main {
                margin: 0 10%;
                padding: 10vh 0;
            }
        }

        #top-wrapper {

            padding: 0;

            nav {
                background-color: #24292D;

                a {
                    color: #ffffff;
                    font-size: 1.6em;
                }

                a:hover {
                    text-decoration: none;
                }

                button {
                    height: 10vh;
                    color: #ffffff;
                }

                .navbar-brand {
                    padding-left: .75rem;
                }

                #navbar-toggler {
                    padding-bottom: 10px;
                    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
                    text-align: right;
                    font-size: 1.6em;

                    li {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        #foot-wrapper {

            padding: 0;

            #foot {

                padding: 5vh 0;
                background-color: #24292D;
                color: #ffffff;
                text-align: center;

                a {
                    color: #ffffff;
                }

                a:hover {
                    text-decoration: none;
                }

                #email {}

                #social {
                    margin-top: 10px;
                }

                #social a {
                    color: #ffffff;
                }

                #social a:hover {
                    color: #f47645;
                }

                #cc-license {
                    margin-top: 15px;

                    a {
                        color: #ffffff;

                        i {
                            font-size: 1.8em;
                        }
                    }

                    a:hover {
                        color: #f47645;
                        text-decoration: none;
                    }
                }

                #copyright {
                    margin-top: 10px;
                    font-size: 0.8em;
                    color: #999;

                    a {
                        color: #AAADAF;
                    }
                }
            }
        }
    }
}

    @media (min-width: 768px) {
        #baseof-wrapper {
            margin: 0;
            padding: 0;
            height: 100vh;

            #main-wrapper {

                #main {
                    margin: 0 10%;
                    padding: 10vh 0;
                }
            }

            #top-wrapper {

                padding: 0;

                nav {
                    background-color: #24292D;

                    a {
                        color: #ffffff;
                        font-size: 1.6em;
                    }

                    a:hover {
                        text-decoration: none;
                    }

                    button {
                        height: 10vh;
                        color: #ffffff;
                    }

                    .navbar-brand {
                        padding-left: .75rem;
                    }

                    #navbar-toggler {
                        padding-bottom: 10px;
                        font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
                        text-align: right;
                        font-size: 1.6em;

                        li {
                            padding-bottom: 10px;
                        }
                    }
                }
            }

            #foot-wrapper {

                padding: 0;

                #foot {

                    padding: 5vh 0;
                    background-color: #24292D;
                    color: #ffffff;
                    text-align: center;

                    a {
                        color: #ffffff;
                    }

                    a:hover {
                        text-decoration: none;
                    }

                    #email {}

                    #social {
                        margin-top: 10px;
                    }

                    #social a {
                        color: #ffffff;
                    }

                    #social a:hover {
                        color: #f47645;
                    }

                    #cc-license {
                        margin-top: 15px;

                        a {
                            color: #ffffff;

                            i {
                                font-size: 2em;
                            }
                        }

                        a:hover {
                            color: #f47645;
                            text-decoration: none;
                        }
                    }

                    #copyright {
                        margin-top: 10px;
                        font-size: 0.8em;
                        color: #999;

                        a {
                            color: #AAADAF;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        #baseof-wrapper {
            margin: 0;
            padding: 0;
            height: 100vh;

            #main-wrapper {

                #main {
                    margin: 0 10%;
                    padding-top: 15vh;
                }
            }

            #search-wrapper {
                width: calc(100% - 30px);
                margin: 0;
                position: absolute;
                z-index:9;

                #search-box-wrapper {
                    height: 45px;
                    width: 100%;
                    margin-top: 3vh;
                    display: inline-flex;

                    #search-box {
                        display: none;
                        height: 45px;
                        width: calc(100% - 45px);
                        font-size: 1em;
                        .ais-SearchBox {
                            padding: 0;
                            height: 45px;
                            width: 0%;

                            .ais-SearchBox-form {
                                padding: 0;

                                .ais-SearchBox-input {
                                    padding: 0 0 0 10px;
                                    width: 100%;
                                }
                            }
                        }



                        *:not(span) {
                            height: 45px;
                            position: relative;
                            display: inherit;
                            border-radius: inherit;
                            margin: 0;
                            border: none;
                            outline: none;
                            padding: 0 .325em;
                            z-index: 1; // needs to be above the :focus span

                            // summon fancy shadow styles when focussed
                            &:focus + span {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                    }

                    #search-icon {
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        color: #fff;
                        transition: all .3s;
                        cursor: pointer;
                        &:hover {
                            color: #24292D;
                            background-color: #fff;
                        }
                        &.active {
                            color: #fff;
                            background-color: #24292D;
                        }
                    }
                }
                #search-result {
                    margin-left: 45px;
                    width: calc(100% - 45px);
                    border-top: 1px solid #AAADAF;
                    border-left: 1px solid #AAADAF;
                    display: none;

                    #search-hits {
                        width: 100%;
                        background-color: #fff;
                        font-size: 1em;

                        .ais-Hits--empty {
                            padding: 5px 10px;
                        }

                        .ais-Hits-list {
                            margin: 0;
                            padding: 0;
                            list-style-type: none;

                            a {
                                display: block;
                                padding: 6px 10px;

                                .hits-title {
                                    line-height: 1.5em;

                                    .ais-Highlight-highlighted {
                                        color: #f84c11;
                                        font-weight: bold;
                                    }
                                }
                            }

                            a:hover {
                                background-color: #f47645;
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }

                    #search-footer-wrapper {
                        display: none;

                        #search-footer {
                            width: 100%;
                            padding: 10px;
                            background-color: #fff;
                            display: flex;
                            flex-wrap: wrap;
    
                            #search-more {
                                min-width: 80px;
                                width: 40%;
                            }
    
                            #powered-by {
                                min-width: 135px;
                                width: 60%;
                                text-align: right;
                            }
                        }
                    }
                }
            }

            #sidebar-wrapper {
                height: 100vh;
                background-color: #24292D;
                position: fixed;
                right: 0;
                font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;

                #sidebar {
                    margin: 0 4%;
                    padding-top: 15vh;
                    color: #fff;

                    #navigation {
                        li {
                            a {
                                color: #ffffff;
                                font-weight: 600;
                                font-size: 2em;
                            }

                            a:hover {
                                color: #f47645;
                                text-decoration: none;
                            }
                        }
                    }

                    #social {
                        margin-top: 60px;

                        a {
                            color: #ffffff;
                        }

                        a:hover {
                            color: #f47645;
                        }
                    }

                    #cc-license {
                        margin-top: 15px;

                        a {
                            color: #ffffff;

                            i {
                                font-size: 2em;
                            }
                        }

                        a:hover {
                            color: #f47645;
                            text-decoration: none;
                        }
                    }

                    #anti-996-license {
                        margin-top: 10px;

                        a:hover {
                            color: #24292D;
                            text-decoration: none;
                        }

                        p {
                            margin-top: 3px;
                        }
                    }

                    #copyright {
                        margin-top: 10px;
                        font-size: 0.8em;
                        color: #AAADAF;

                        a {
                            color: #AAADAF;
                        }
                    }
                }
            }
        }
    }