body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
    font-size: 100%;
    word-break: break-all;
    color: #24292D;
}

a {
    color: #f47645;
}

a:hover {
    color: #f84c11;
}

h1 {
    line-height: 2em;

    a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.row {
    margin: 0;
}

#baseof-wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;

    #main-wrapper {

        #main {
            margin: 0 10%;
            padding-top: 15vh;
        }
    }
    
    #sidebar-wrapper {
        height: 100vh;
        background-color: #24292D;
        position: fixed;
        right: 0;
    
        #sidebar {
            margin: 0 4%;
            padding-top: 15vh;
            text-align: center;
            color: #fff;
    
            #copyright {
                margin-top: 10px;
                font-size: 0.8em;
                color: #999;
            }
        }
    }
}