@charset "UTF-8";
@media (max-width: 767.98px) {
  #archive .collection-title h2 {
    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
    line-height: 1.5em;
    font-size: 2em !important; }
  #archive .collection-title:not(:first-child) {
    margin-top: 30px; }
  #archive .archive-post .archive-post-time {
    padding-right: 5px; } }

@media (min-width: 768px) {
  #archive .collection-title h2 {
    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
    line-height: 1.5em;
    font-size: 2em !important; }
  #archive .collection-title:not(:first-child) {
    margin-top: 30px; }
  #archive .archive-post .archive-post-time {
    padding-right: 5px; } }

@media (min-width: 992px) {
  #archive .collection-title h2, #archive .archive-title h2 {
    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
    line-height: 1.5em;
    font-size: 2em !important; }
  #archive .collection-title:not(:first-child) {
    margin-top: 30px; }
  #archive .archive-post .archive-post-time {
    padding-right: 5px; } }

@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Noto Serif SC", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
  font-size: 100%;
  word-break: break-all;
  color: #24292D; }

a {
  color: #f47645; }

a:hover {
  color: #f84c11; }

h1 {
  line-height: 2em; }
  h1 a:hover {
    color: #ffffff;
    background-color: #f47645;
    text-decoration: none; }

h2 {
  font-size: 1.2em;
  font-weight: 600; }

.row {
  margin: 0; }

@media (max-width: 767.98px) {
  #baseof-wrapper {
    margin: 0;
    padding: 0;
    height: 100vh; }
    #baseof-wrapper #main-wrapper #main {
      margin: 0 10%;
      padding: 10vh 0; }
    #baseof-wrapper #top-wrapper {
      padding: 0; }
      #baseof-wrapper #top-wrapper nav {
        background-color: #24292D; }
        #baseof-wrapper #top-wrapper nav a {
          color: #ffffff;
          font-size: 1.6em; }
        #baseof-wrapper #top-wrapper nav a:hover {
          text-decoration: none; }
        #baseof-wrapper #top-wrapper nav button {
          height: 10vh;
          color: #ffffff; }
        #baseof-wrapper #top-wrapper nav .navbar-brand {
          padding-left: .75rem; }
        #baseof-wrapper #top-wrapper nav #navbar-toggler {
          padding-bottom: 10px;
          font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
          text-align: right;
          font-size: 1.6em; }
          #baseof-wrapper #top-wrapper nav #navbar-toggler li {
            padding-bottom: 10px; }
    #baseof-wrapper #foot-wrapper {
      padding: 0; }
      #baseof-wrapper #foot-wrapper #foot {
        padding: 5vh 0;
        background-color: #24292D;
        color: #ffffff;
        text-align: center; }
        #baseof-wrapper #foot-wrapper #foot a {
          color: #ffffff; }
        #baseof-wrapper #foot-wrapper #foot a:hover {
          text-decoration: none; }
        #baseof-wrapper #foot-wrapper #foot #social {
          margin-top: 10px; }
        #baseof-wrapper #foot-wrapper #foot #social a {
          color: #ffffff; }
        #baseof-wrapper #foot-wrapper #foot #social a:hover {
          color: #f47645; }
        #baseof-wrapper #foot-wrapper #foot #cc-license {
          margin-top: 15px; }
          #baseof-wrapper #foot-wrapper #foot #cc-license a {
            color: #ffffff; }
            #baseof-wrapper #foot-wrapper #foot #cc-license a i {
              font-size: 1.8em; }
          #baseof-wrapper #foot-wrapper #foot #cc-license a:hover {
            color: #f47645;
            text-decoration: none; }
        #baseof-wrapper #foot-wrapper #foot #copyright {
          margin-top: 10px;
          font-size: 0.8em;
          color: #999; }
          #baseof-wrapper #foot-wrapper #foot #copyright a {
            color: #AAADAF; } }

@media (min-width: 768px) {
  #baseof-wrapper {
    margin: 0;
    padding: 0;
    height: 100vh; }
    #baseof-wrapper #main-wrapper #main {
      margin: 0 10%;
      padding: 10vh 0; }
    #baseof-wrapper #top-wrapper {
      padding: 0; }
      #baseof-wrapper #top-wrapper nav {
        background-color: #24292D; }
        #baseof-wrapper #top-wrapper nav a {
          color: #ffffff;
          font-size: 1.6em; }
        #baseof-wrapper #top-wrapper nav a:hover {
          text-decoration: none; }
        #baseof-wrapper #top-wrapper nav button {
          height: 10vh;
          color: #ffffff; }
        #baseof-wrapper #top-wrapper nav .navbar-brand {
          padding-left: .75rem; }
        #baseof-wrapper #top-wrapper nav #navbar-toggler {
          padding-bottom: 10px;
          font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
          text-align: right;
          font-size: 1.6em; }
          #baseof-wrapper #top-wrapper nav #navbar-toggler li {
            padding-bottom: 10px; }
    #baseof-wrapper #foot-wrapper {
      padding: 0; }
      #baseof-wrapper #foot-wrapper #foot {
        padding: 5vh 0;
        background-color: #24292D;
        color: #ffffff;
        text-align: center; }
        #baseof-wrapper #foot-wrapper #foot a {
          color: #ffffff; }
        #baseof-wrapper #foot-wrapper #foot a:hover {
          text-decoration: none; }
        #baseof-wrapper #foot-wrapper #foot #social {
          margin-top: 10px; }
        #baseof-wrapper #foot-wrapper #foot #social a {
          color: #ffffff; }
        #baseof-wrapper #foot-wrapper #foot #social a:hover {
          color: #f47645; }
        #baseof-wrapper #foot-wrapper #foot #cc-license {
          margin-top: 15px; }
          #baseof-wrapper #foot-wrapper #foot #cc-license a {
            color: #ffffff; }
            #baseof-wrapper #foot-wrapper #foot #cc-license a i {
              font-size: 2em; }
          #baseof-wrapper #foot-wrapper #foot #cc-license a:hover {
            color: #f47645;
            text-decoration: none; }
        #baseof-wrapper #foot-wrapper #foot #copyright {
          margin-top: 10px;
          font-size: 0.8em;
          color: #999; }
          #baseof-wrapper #foot-wrapper #foot #copyright a {
            color: #AAADAF; } }

@media (min-width: 992px) {
  #baseof-wrapper {
    margin: 0;
    padding: 0;
    height: 100vh; }
    #baseof-wrapper #main-wrapper #main {
      margin: 0 10%;
      padding-top: 15vh; }
    #baseof-wrapper #search-wrapper {
      width: 100%;
      margin: 0 4%;
      position: absolute;
      z-index: 9; }
      #baseof-wrapper #search-wrapper #search-box-wrapper {
        height: 36px;
        width: 100%;
        margin-top: 3vh;
        display: inline-flex; }
        #baseof-wrapper #search-wrapper #search-box-wrapper #search-box {
          height: 36px;
          width: calc(87% - 36px);
          font-size: 0.92em;
          display: none; }
          #baseof-wrapper #search-wrapper #search-box-wrapper #search-box .ais-SearchBox, #baseof-wrapper #search-wrapper #search-box-wrapper #search-box .ais-SearchBox-form, #baseof-wrapper #search-wrapper #search-box-wrapper #search-box .ais-SearchBox-input {
            height: 36px;
            width: calc(100% - 3px);
            padding: 0; }
          #baseof-wrapper #search-wrapper #search-box-wrapper #search-box *:not(span) {
            height: 36px;
            position: relative;
            display: inherit;
            border-radius: inherit;
            margin: 0;
            border: none;
            outline: none;
            padding: 0 .325em;
            z-index: 1; }
            #baseof-wrapper #search-wrapper #search-box-wrapper #search-box *:not(span):focus + span {
              opacity: 1;
              transform: scale(1); }
        #baseof-wrapper #search-wrapper #search-box-wrapper #search-icon {
          width: 36px;
          margin: 5px 0;
          color: #fff; }
      #baseof-wrapper #search-wrapper #search-hits {
        width: calc(87% - 45px);
        background-color: #fff;
        font-size: 0.92em; }
        #baseof-wrapper #search-wrapper #search-hits .ais-Hits--empty {
          padding: 5px 10px; }
        #baseof-wrapper #search-wrapper #search-hits .ais-Hits-list {
          margin: 0;
          padding: 0;
          list-style-type: none; }
          #baseof-wrapper #search-wrapper #search-hits .ais-Hits-list a {
            display: block;
            padding: 5px 10px; }
            #baseof-wrapper #search-wrapper #search-hits .ais-Hits-list a .hits-title {
              line-height: 1.5em; }
              #baseof-wrapper #search-wrapper #search-hits .ais-Hits-list a .hits-title .ais-Highlight-highlighted {
                color: #f84c11;
                font-weight: bold; }
          #baseof-wrapper #search-wrapper #search-hits .ais-Hits-list a:hover {
            background-color: #f47645;
            color: #fff;
            text-decoration: none; }
      #baseof-wrapper #search-wrapper #search-footer {
        width: calc(87% - 45px);
        padding: 10px;
        background-color: #fff;
        display: none; }
        #baseof-wrapper #search-wrapper #search-footer #search-more {
          width: 40%;
          float: left; }
        #baseof-wrapper #search-wrapper #search-footer #powered-by {
          width: 60%;
          float: left;
          text-align: right; }
    #baseof-wrapper #sidebar-wrapper {
      height: 100vh;
      background-color: #24292D;
      position: fixed;
      right: 0;
      font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif; }
      #baseof-wrapper #sidebar-wrapper #sidebar {
        margin: 0 4%;
        padding-top: 15vh;
        color: #fff; }
        #baseof-wrapper #sidebar-wrapper #sidebar #navigation li a {
          color: #ffffff;
          font-weight: 600;
          font-size: 2em; }
        #baseof-wrapper #sidebar-wrapper #sidebar #navigation li a:hover {
          color: #f47645;
          text-decoration: none; }
        #baseof-wrapper #sidebar-wrapper #sidebar #social {
          margin-top: 60px; }
          #baseof-wrapper #sidebar-wrapper #sidebar #social a {
            color: #ffffff; }
          #baseof-wrapper #sidebar-wrapper #sidebar #social a:hover {
            color: #f47645; }
        #baseof-wrapper #sidebar-wrapper #sidebar #cc-license {
          margin-top: 15px; }
          #baseof-wrapper #sidebar-wrapper #sidebar #cc-license a {
            color: #ffffff; }
            #baseof-wrapper #sidebar-wrapper #sidebar #cc-license a i {
              font-size: 2em; }
          #baseof-wrapper #sidebar-wrapper #sidebar #cc-license a:hover {
            color: #f47645;
            text-decoration: none; }
        #baseof-wrapper #sidebar-wrapper #sidebar #copyright {
          margin-top: 10px;
          font-size: 0.8em;
          color: #AAADAF; }
          #baseof-wrapper #sidebar-wrapper #sidebar #copyright a {
            color: #AAADAF; } }

@media (max-width: 767.98px) {
  #index #posts .post {
    margin-bottom: 40px; }
    #index #posts .post .post-header .post-title {
      margin: 0;
      font-size: 1.6em;
      line-height: 1.6em; }
    #index #posts .post .post-header .post-meta {
      font-size: 0.9em;
      color: #AAADAF; }
      #index #posts .post .post-header .post-meta .post-category a {
        color: #AAADAF; }
      #index #posts .post .post-header .post-meta .post-category a:hover {
        color: #f47645;
        text-decoration: none; }
    #index #posts .post .post-content {
      font-size: 1em; }
      #index #posts .post .post-content .post-summary {
        margin: 15px 0 8px 0; }
      #index #posts .post .post-content .read-more a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none; }
  #index #pagination {
    text-align: center; }
    #index #pagination a:hover {
      color: #ffffff;
      background-color: #f47645;
      text-decoration: none; } }

@media (min-width: 768px) {
  #index #posts .post {
    margin-bottom: 40px; }
    #index #posts .post .post-header .post-title {
      margin: 0;
      font-size: 1.6em;
      line-height: 1.6em; }
    #index #posts .post .post-header .post-meta {
      font-size: 0.9em;
      color: #AAADAF; }
      #index #posts .post .post-header .post-meta .post-category a {
        color: #AAADAF; }
      #index #posts .post .post-header .post-meta .post-category a:hover {
        color: #f47645;
        text-decoration: none; }
    #index #posts .post .post-content {
      font-size: 1em; }
      #index #posts .post .post-content .post-summary {
        margin: 15px 0 8px 0; }
      #index #posts .post .post-content .read-more a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none; }
  #index #pagination {
    text-align: center; }
    #index #pagination a:hover {
      color: #ffffff;
      background-color: #f47645;
      text-decoration: none; } }

@media (min-width: 992px) {
  #index #posts .post {
    margin-bottom: 40px; }
    #index #posts .post .post-header .post-title {
      margin: 0;
      font-size: 1.6em;
      line-height: 1.6em; }
    #index #posts .post .post-header .post-meta {
      font-size: 0.9em;
      color: #AAADAF; }
      #index #posts .post .post-header .post-meta .post-category a {
        color: #AAADAF; }
      #index #posts .post .post-header .post-meta .post-category a:hover {
        color: #f47645;
        text-decoration: none; }
    #index #posts .post .post-content {
      font-size: 1em; }
      #index #posts .post .post-content .post-summary {
        margin: 15px 0 8px 0; }
      #index #posts .post .post-content .read-more a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none; }
  #index #pagination {
    text-align: center; }
    #index #pagination a:hover {
      color: #ffffff;
      background-color: #f47645;
      text-decoration: none; } }

@charset "UTF-8";
@media (max-width: 767.98px) {
  .terms {
    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif; }
    .terms .terms-categories ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .terms .terms-categories ul li {
        width: 50%;
        padding: .5%; }
        .terms .terms-categories ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #ffffff;
          background-color: #f47645; }
          .terms .terms-categories ul li a .terms-name {
            font-size: 1.8em; }
        .terms .terms-categories ul li a:hover {
          background-color: #f84c11;
          text-decoration: none; } }

@media (min-width: 768px) {
  .terms {
    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif; }
    .terms .terms-categories ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .terms .terms-categories ul li {
        width: 25%;
        padding: .5%; }
        .terms .terms-categories ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #ffffff;
          background-color: #f47645; }
          .terms .terms-categories ul li a .terms-name {
            font-size: 1.8em; }
        .terms .terms-categories ul li a:hover {
          background-color: #f84c11;
          text-decoration: none; } }

@media (min-width: 992px) {
  .terms {
    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif; }
    .terms .terms-categories ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .terms .terms-categories ul li {
        width: 20%;
        padding: .5%; }
        .terms .terms-categories ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #ffffff;
          background-color: #f47645; }
          .terms .terms-categories ul li a .terms-name {
            font-size: 1.5em; }
        .terms .terms-categories ul li a:hover {
          background-color: #f84c11;
          text-decoration: none; } }

@charset "UTF-8";
@media (max-width: 767.98px) {
  #single .post {
    margin-bottom: 5vh; }
    #single .post .post-header .post-title {
      font-size: 2em;
      line-height: 1.2em;
      font-weight: 600;
      font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif; }
    #single .post .post-header .post-meta {
      font-size: 0.9em;
      color: #AAADAF; }
      #single .post .post-header .post-meta a {
        color: #AAADAF; }
      #single .post .post-header .post-meta a:hover {
        color: #f47645;
        text-decoration: none; }
    #single .post .post-content {
      margin: 40px 0; }
      #single .post .post-content h1 {
        font-size: 1.8rem; }
      #single .post .post-content h2 {
        font-size: 1.5rem;
        font-weight: 400; }
    #single .post .post-footer .post-nav {
      margin-top: 80px;
      font-size: 1.2em; }
      #single .post .post-footer .post-nav a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none; }
      #single .post .post-footer .post-nav .fa-lg {
        vertical-align: 0; }
      #single .post .post-footer .post-nav .next {
        margin-top: 10px; } }

@media (min-width: 768px) {
  #single .post {
    margin-bottom: 5vh; }
    #single .post .post-header .post-title {
      font-size: 2.5em;
      line-height: 1.2em;
      font-weight: 600;
      font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif; }
    #single .post .post-header .post-meta {
      font-size: 0.9em;
      color: #AAADAF; }
      #single .post .post-header .post-meta a {
        color: #AAADAF; }
      #single .post .post-header .post-meta a:hover {
        color: #f47645;
        text-decoration: none; }
    #single .post .post-content {
      margin: 40px 0; }
      #single .post .post-content h1 {
        font-size: 2.4rem; }
      #single .post .post-content h2 {
        font-size: 1.8rem;
        font-weight: 400; }
    #single .post .post-footer .post-nav {
      margin-top: 80px;
      font-size: 1.25em; }
      #single .post .post-footer .post-nav a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none; }
      #single .post .post-footer .post-nav .fa-lg {
        vertical-align: 0; }
      #single .post .post-footer .post-nav .next {
        margin-top: 10px; } }

@media (min-width: 992px) {
  #single .post {
    margin-bottom: 15vh; }
    #single .post .post-header .post-title {
      font-size: 2.5em;
      line-height: 1.2em;
      font-weight: 600;
      font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif; }
    #single .post .post-header .post-meta {
      font-size: 0.9em;
      color: #AAADAF; }
      #single .post .post-header .post-meta a {
        color: #AAADAF; }
      #single .post .post-header .post-meta a:hover {
        color: #f47645;
        text-decoration: none; }
    #single .post .post-content {
      margin: 40px 0; }
      #single .post .post-content h1 {
        font-size: 2.4rem; }
      #single .post .post-content h2 {
        font-size: 1.8rem;
        font-weight: 400; }
    #single .post .post-footer .post-nav {
      margin-top: 80px;
      font-size: 1.25em; }
      #single .post .post-footer .post-nav a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none; }
      #single .post .post-footer .post-nav .fa-lg {
        vertical-align: 0; }
      #single .post .post-footer .post-nav .next {
        margin-top: 10px; } }
