{{- define "content" -}}

<div id="index">
    <section id="posts" class="posts">
        {{- $paginator := .Paginate (where (where .Data.Pages "Type" "posts") ".Params.hiddenfromhomepage" "!=" true) }}
        {{- range $paginator.Pages -}}
        {{ .Render "summary" }}
        {{- end -}}
    </section>
    <!-- pagination -->
    <nav id="pagination">
        {{ with $paginator.Prev -}}
        <a class="prev" href="{{ .URL }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text">{{ T "prevPage" }}</span>
        </a>
        {{- end }}
        {{ with $paginator.Next -}}
        <a class="next" href="{{ .URL }}">
            <span class="next-text">{{ T "nextPage" }}</span>
            <i class="iconfont icon-right"></i>
        </a>
        {{- end }}
    </nav>
</div>

{{- end -}}