body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Noto Serif SC", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
    font-size: 100%;
    word-break: break-all;
    color: #24292D;
}

a {
    color: #f47645;
}

a:hover {
    color: #f84c11;
}

h1 {
    line-height: 2em;

    a:hover {
        color: #ffffff;
        background-color: #f47645;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.row {
    margin: 0;
}

@media(max-width: 767.98px) {

    #baseof-wrapper {
        margin: 0;
        padding: 0;
        height: 100vh;

        #main-wrapper {

            #main {
                margin: 0 10%;
                padding: 10vh 0;
            }
        }

        #top-wrapper {

            padding: 0;

            nav {
                background-color: #24292D;

                a {
                    color: #ffffff;
                    font-size: 1.6em;
                }

                a:hover {
                    text-decoration: none;
                }

                button {
                    height: 10vh;
                    color: #ffffff;
                }

                .navbar-brand {
                    padding-left: .75rem;
                }

                #navbar-toggler {
                    padding-bottom: 10px;
                    font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
                    text-align: right;
                    font-size: 1.6em;

                    li {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        #foot-wrapper {

            padding: 0;

            #foot {

                padding: 5vh 0;
                background-color: #24292D;
                color: #ffffff;
                text-align: center;

                a {
                    color: #ffffff;
                }

                a:hover {
                    text-decoration: none;
                }

                #email {}

                #social {
                    margin-top: 10px;
                }

                #social a {
                    color: #ffffff;
                }

                #social a:hover {
                    color: #f47645;
                }

                #cc-license {
                    margin-top: 15px;

                    a {
                        color: #ffffff;

                        i {
                            font-size: 1.8em;
                        }
                    }
                    
                    a:hover {
                        color: #f47645;
                        text-decoration: none;
                    }
                }

                #copyright {
                    margin-top: 10px;
                    font-size: 0.8em;
                    color: #999;

                    a {
                        color: #AAADAF;
                    }
                }
            }
        }
    }
}

    @media (min-width: 768px) {
        #baseof-wrapper {
            margin: 0;
            padding: 0;
            height: 100vh;

            #main-wrapper {

                #main {
                    margin: 0 10%;
                    padding: 10vh 0;
                }
            }

            #top-wrapper {

                padding: 0;

                nav {
                    background-color: #24292D;

                    a {
                        color: #ffffff;
                        font-size: 1.6em;
                    }

                    a:hover {
                        text-decoration: none;
                    }

                    button {
                        height: 10vh;
                        color: #ffffff;
                    }

                    .navbar-brand {
                        padding-left: .75rem;
                    }

                    #navbar-toggler {
                        padding-bottom: 10px;
                        font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
                        text-align: right;
                        font-size: 1.6em;

                        li {
                            padding-bottom: 10px;
                        }
                    }
                }
            }

            #foot-wrapper {

                padding: 0;

                #foot {

                    padding: 5vh 0;
                    background-color: #24292D;
                    color: #ffffff;
                    text-align: center;

                    a {
                        color: #ffffff;
                    }

                    a:hover {
                        text-decoration: none;
                    }

                    #email {}

                    #social {
                        margin-top: 10px;
                    }

                    #social a {
                        color: #ffffff;
                    }

                    #social a:hover {
                        color: #f47645;
                    }

                    #cc-license {
                        margin-top: 15px;

                        a {
                            color: #ffffff;

                            i {
                                font-size: 2em;
                            }
                        }
                        
                        a:hover {
                            color: #f47645;
                            text-decoration: none;
                        }
                    }

                    #copyright {
                        margin-top: 10px;
                        font-size: 0.8em;
                        color: #999;

                        a {
                            color: #AAADAF;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        #baseof-wrapper {
            margin: 0;
            padding: 0;
            height: 100vh;

            #main-wrapper {

                #main {
                    margin: 0 10%;
                    padding-top: 15vh;
                }
            }

            #sidebar-wrapper {
                height: 100vh;
                background-color: #24292D;
                position: fixed;
                right: 0;
                font-family: "Roboto", Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;

                #sidebar {
                    margin: 0 4%;
                    padding-top: 15vh;
                    color: #fff;

                    #navigation {
                        li {
                            a {
                                color: #ffffff;
                                font-weight: 600;
                                font-size: 2em;
                            }

                            a:hover {
                                color: #f47645;
                                text-decoration: none;
                            }
                        }
                    }

                    #social {
                        margin-top: 60px;

                        a {
                            color: #ffffff;
                        }

                        a:hover {
                            color: #f47645;
                        }
                    }

                    #cc-license {
                        margin-top: 15px;

                        a {
                            color: #ffffff;

                            i {
                                font-size: 2em;
                            }
                        }
                        
                        a:hover {
                            color: #f47645;
                            text-decoration: none;
                        }
                    }

                    #copyright {
                        margin-top: 10px;
                        font-size: 0.8em;
                        color: #AAADAF;

                        a {
                            color: #AAADAF;
                        }
                    }
                }
            }
        }
    }